{% extends 'main.html' %}

{% block content %}

<h1> projects </h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}

    <tr>
        <th>{{ project.id }}</th>
        <th>{{ project.title }}
            {% if project.topRated %}
                <strong>TOP RATED</strong>
            {% endif %}
        </th>
        <th>{{ project.description }}</th>
    </tr>

    {% endfor %}
    </tbody>
</table>


{% endblock content %}