{% extends 'main.html' %}

{% block content %}

<h1> projects </h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}

    <tr>
        <th>
            <a href="{% url 'project' project.id %}">{{ project.title }}
                {% if project.topRated %}
                <strong>TOP RATED</strong>
                {% endif %}
            </a>
        </th>
        <th>{{ project.description }}</th>
    </tr>

    {% endfor %}
    </tbody>
</table>


{% endblock content %}